meta(charset='utf-8')
meta(name='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="robots", content="index, follow")

title
    block site_title
        = config.title

block description
    meta(name='description', content=config.description ? config.description : __('meta_description'))
    

link(rel='icon', href=url_for(theme.favicon))
link(rel='stylesheet', href='https://unpkg.com/nanoreset@3.0.1/nanoreset.min.css')
link(rel='stylesheet', href=url_for('css/theme.css'))
link(rel='search', type='application/opensearchdescription+xml', href=url_for('atom.xml'), title=config.title)
